.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.btn{
  padding: 25px;
}


.main{
  width: 100%;
  height: 100vh;
  background: rgb(253, 13, 33);
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.heading{
  font-size: 25px;
}

.button1 {
  margin: 15px;
  background-color: rgb(15, 218, 65); 
  color: rgb(7, 7, 7); 
  font-size: 25px;
  border: transparent;
  border-radius: 5%;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
  transition: 0.5s;
  font-size: 27px;
}

.button2 {
  background-color: rgb(245, 33, 18); 
  color: rgb(7, 7, 7); 
  border: transparent;
  border-radius: 5%;
  font-size: 25px;
}

.button2:hover {
  background-color: #fa1313;
  color: white;
  transition: 0.5s;
  font-size: 27px;
}

.center{
  font-size: 50px;
  color: white;
width: 25%;
height: 60vh;
background-color: tomato;
box-shadow: transparent;
display: flex;
flex-direction: column;
align-items:center;
justify-content: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
